* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(105, 105, 105);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 0 !important;
}

nav ul li {
  list-style: none;
}

.cardd h1 {
  font-size: 20px;
}

.profile .cardd {
  border: solid 1px salmon;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.804);
  color: white;
  padding: 20px;
}

.img {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: transparent;
}

.button{
  padding: 7px  !important;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  
}

p{
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.update{
  background-color: green;
}

.delete{
  background-color: red;
  
}

.center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: solid 1px rgba(189, 189, 189, 0.721);
  padding: 20px;
  border-radius: 5px;
}
a:hover{
  color: rgb(197, 187, 187);
}
.center-div div{
  width: 100%;
  /* padding: 2px 20px; */
}

.center-div label{
  margin: 7px 0;
  width: 100%;
  font-weight: bold;
}
.center-div input{
  width: 100%;
  padding: 5px 10px;
  margin-top: 1px;
}

.heading{
  font-size: 29px;
  margin: 20px 0;
}